<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Suite1">

   <!-- <parameter name="Browser" value="chrome"/>
    <parameter name="Environment" value="QA"/>-->

    <test name = "FIRST TEST">
        <classes>
            <class name="RunPackage.MainPage"/>
        </classes>
    </test>





</suite>



